*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font{
  font-family: "Inter", sans-serif;
}


.navbar{
    border-bottom: 1px solid #412567;
    display: flex;
    justify-content: space-around;
    max-height: 92px;
    align-items: center;
    padding: 16px;
    background-color: #190D37;
    color: white;
    width: 100%;
}

.navbar .item{
    display: flex;
    gap: 32px;
}

.nav-btn{
    background: url(../assets/hero-circle.png) center/ 110% ;
    padding: 12px 16px;
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    color: #FFFFFF;
}
.nav-btn:hover{
    background-color: #24143a;
    color: #190D37;
}


.hm-menu{
    display: none;
}

.banner{
    width: 100%;
    height: 760px;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-repeat: no-repeat;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container .circle{
    height: 350px;
    width: 350px;
    background-image: url(../assets/hero-circle.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner-content {
    margin-top: 40px;
    color: white;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.banner-container .banner-content p{
    font-weight: 100;
}

.content-btn {
    display: flex;
    margin-top: 20px;
    gap: 8px;
}

.spotify-btn{
    background: url(../assets/hero-circle.png) center/ 110% ;
    padding: 12px 16px;
    width: 201px;
    height: 44px;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.spotify-btn:hover{
    
    color: #00FF88;
}

.spotify-btn img{
    margin-right: 5px;
}
.transparent-btn{
    background: transparent ;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 12px 16px;
    width: 135px;
    height: 44px;
    border-radius: 1000px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.transparent-btn:hover{
    background-color: #fefefe;
    color: #190D37;
}

.transparent-btn img{
    margin-right: 5px;
}
.podcast{
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
}

.podcast-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 222px;
    padding: 50px 200px 80px 200px;
}
.podcast-container h1{
    color: #FFFFFF;
   margin-bottom: 16px;
   font-size: 3rem;
}


 .podcast-container p{
    color: #FFFFFF;
    line-height: 20px;
    opacity: 75%;
}


.podcast-container .hr{
    width: 1200px;
    height: 0px;
    color: #F2F2F7;
    font-weight: lighter;
    align-items: center;
    
}

.award {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 75px;
    align-items: center;
 
}

.award .award-div h1{
    font-size: 48px;
    font-weight: 800px;
    color: #00FF88;
    width: 240px;
    height: 58px;
}
.Why-Choose-TechWave {
    
    height: 1121px;
    padding: 120px 200px;
    background-color: #230E3D;

}

.Why-Choose-TechWave header{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.grid-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
}

.grid-card img{
    width: 60px;
    height: 60px;
}

.down-row{
   
    grid-row: span 2;
    width: 380px;
    height: 480px;
    padding: 107px 40px;
    background-color: #36175b4e;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FFFFFF;
}
.down-row p{
    opacity: 60%;
}


.column-side{
   
   grid-column: span 2;
   width: 790px;
    height: 230px;
    background-color: #360e654e;
    padding: 40px;
    border-radius: 30px;
     display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
   
}
.column-side p{
    opacity: 60%;
}

.single-column-row{

   width: 380px;
    height: 230px;
    background-color: #360e654e;
    padding: 40px;
    border-radius: 40px;
   margin-left: -120px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
  
}
.single-column-row p{
    opacity: 60%;
}

